---
import PortfolioLayout from "@layouts/portfolio-layout.astro";
import { Image } from "astro:assets";
import realpic from "@assets/realpic.jpg";
---

<PortfolioLayout title="About">
  <div class="flex flex-row gap-8">
    <Image
      src={realpic}
      alt="Me"
      class="hidden aspect-[10/16] flex-shrink-0 self-start rounded-br-[64px] rounded-tl-[64px] object-cover md:w-2/5 lg:block lg:self-stretch"
      loading="eager"
    />
    <div>
      <h1 class="mb-4 text-3xl">Hello there!</h1>
      <Image
        src={realpic}
        alt="Me"
        class="float-left mb-4 me-6 aspect-[5/6] w-full object-cover sm:w-72 sm:rounded-br-[64px] sm:rounded-tl-[64px] md:mb-0 md:w-96 lg:hidden"
        loading="eager"
      />
      <p class="mb-4 text-justify">
        My name is Minna. I have been working as a UI designer since 2017. I have a degree in Business Information
        Technology from 2017 as well as in Game Design from 2022.
      </p>
      <p class="mb-4 text-justify">
        My goal is to always have a user-centered approach when it comes to user interface design. This is why I find
        testing one of the most important and underrated aspects of the design process. What I find the most exciting
        about UI/UX design is that it requires understanding of both psychology and technology while giving you the
        chance to be creative with the design solution.
      </p>
      <p class="mb-4 text-justify">
        My precise approach, emphatic personality and dedication for my work are my greatest strengths. I have been
        described as self-organized, independent, and a good team player. My ability to learn new skills fast has been
        praised as well. I work fluently with Figma, Adobe Photoshop and Illustrator. Techonologies I am adept with are
        HTML, CSS, Bootstrap and Tailwind CSS to name a few. I am also familiar with Storybook.
      </p>
      <p class="text-justify">
        On my spare time I enjoy cooking, spending time in nature, listening to music and occasionally drawing and
        playing video games. I also own a tortoise and a lapponian herder; they are skilled at keeping me from having
        too much free time.
      </p>
    </div>
  </div>
</PortfolioLayout>
