---
import PortfolioLayout from "@layouts/portfolio-layout.astro";
import { Image } from "astro:assets";
import realpic from "@assets/realpic.jpg";
---

<PortfolioLayout title="About">
  <div class="flex flex-row gap-8">
    <Image
      src={realpic}
      alt="Me"
      class="hidden aspect-[10/16] flex-shrink-0 self-start rounded-br-[64px] rounded-tl-[64px] object-cover md:w-2/5 lg:block lg:self-stretch"
      loading="eager"
    />
    <div>
      <h1 class="mb-4 text-3xl">Hello there!</h1>
      <Image
        src={realpic}
        alt="Me"
        class="float-left mb-4 me-6 aspect-[5/6] w-full object-cover sm:w-72 sm:rounded-br-[64px] sm:rounded-tl-[64px] md:mb-0 md:w-96 lg:hidden"
        loading="eager"
      />
      <p class="mb-4">
        My name is Minna. I have worked as a UI designer since 2017. I hold degrees in Business Information Technology
        (2017) and Game Design (2022), both from South-Eastern University of Applied Sciences (Xamk).
      </p>
      <p class="mb-4">
        I always aim for a user-centered approach in my interface design. That's why I consider testing to be one of the
        most crucial—and often underrated—parts of the design process. What excites me most about UI/UX design is the
        unique combination of understanding psychology and technology, while having the freedom to express creativity
        through design solutions.
      </p>
      <p class="mb-4">
        My greatest strengths are a precise approach, a strong user focus, and dedication to my work. Colleagues have
        described me as organized, independent, and a great team player. I'm also praised for my quick learning skills.
        I'm fluent in Figma, Adobe Photoshop, and Illustrator, and proficient with HTML, CSS, Bootstrap, and Tailwind
        CSS. Additionally, I have experience with Storybook.
      </p>
      <p>
        In my free time, I enjoy cooking, gardening, spending time outdoors, listening to music and drawing a comic.
        Since I appreciate good stories, I like to relax by watching TV series and playing video games.
      </p>
    </div>
  </div>
</PortfolioLayout>
