---
import PortfolioLayout from "@layouts/portfolio-layout.astro";
import { Image } from "astro:assets";
import avatar from "@assets/avatar.png";
import bigfootmenu from "@assets/bigfoot-in-space/bigfootmenu.png";
import lahiruokashop from "@assets/lahiruoka-shop/desktop-and-mobile.png";
import sw14 from "@assets/sw-14/applications-desktop-and-mobile.png";
---

<PortfolioLayout title="Portfolio">
  <div class="grid grid-cols-1 gap-6 sm:px-14 md:grid-cols-2 md:px-20">
    <div class="grid place-content-center md:order-last">
      <Image loading="eager" src={avatar} alt="Avatar of me" class="w-[300px] rounded-full" />
    </div>
    <div class="flex flex-col items-center gap-6 md:items-start">
      <h1 class="text-left text-3xl">
        Hi there! I'm Minna,<br class="hidden md:inline" />
        a UI/UX designer.
      </h1>
      <p class="max-w-md text-left text-xl">
        My passion is to design fluent user experiences with a user-centric approach. I design beautiful and consistent
        user interfaces that are pleasant to use.
      </p>
      <!-- <a class="btn px-12" href="/en/contact">Let's chat!</a> -->
    </div>
  </div>
  <hr class="my-8 border-zinc-200 md:my-14" />
  <div class="sm:px-14 md:px-20">
    <h2 class="mb-8 text-3xl md:mb-14">Portfolio</h2>
    <div class="mb-12 grid grid-cols-1 gap-6 md:mb-24 md:grid-cols-2">
      <a href="/en/portfolio/sw-14">
        <Image loading="eager" src={sw14} alt="UI Redesign: Desktop and mobile examples" />
      </a>
      <div class="flex flex-col gap-3">
        <h3 class="text-2xl">UI Redesign & Design Guidelines</h3>
        <p>
          I designed a brand new user interface for my current employer's main product based on requirements of the
          organization as well as basic UX principles, adapting them to the needs of industrial sector.
        </p>
        <a href="/en/portfolio/sw-14" class="text-xl hover:text-primary-dark">Read More</a>
      </div>
    </div>
    <div class="mb-12 grid grid-cols-1 gap-6 md:mb-24 md:grid-cols-2">
      <a href="/en/portfolio/lahiruoka-shop">
        <Image src={lahiruokashop} alt="Lähiruoka Shop: Desktop and mobile examples" />
      </a>
      <div class="flex flex-col gap-3">
        <h3 class="text-2xl">A Digital Service for Buying Local Food</h3>
        <p>
          Personal project. An alternative option to order local food instead of a Facebook group (Reko). The project is
          inspired by my interest in local food and passion to implement design solutions to solve a problem.
        </p>
        <a href="/en/portfolio/lahiruoka-shop" class="text-xl hover:text-primary-dark">Read More</a>
      </div>
    </div>
    <div class="mb-12 grid grid-cols-1 gap-6 md:mb-24 md:grid-cols-2">
      <a href="/en/portfolio/bigfoot-in-space">
        <Image src={bigfootmenu} alt="Bigfoot in Space main menu" />
      </a>
      <div class="flex flex-col gap-3">
        <h3 class="text-2xl">Game UI/UX Design</h3>
        <p>
          A school group project, where my responsibility was creating the user interface assets, participating in
          planning the UI/UX of the game's user interface and conducting user testing. A style guide and a High-Fidelity
          version of the main menu screen were also implemented.
        </p>
        <a href="/en/portfolio/bigfoot-in-space" class="text-xl hover:text-primary-dark">Read More</a>
      </div>
    </div>
  </div>
</PortfolioLayout>
