---
import PortfolioLayout from "@layouts/portfolio-layout.astro";
import { Image } from "astro:assets";
import avatar from "@assets/avatar.png";
import bigfootmenu from "@assets/bigfoot-in-space/bigfoot-menu.png";
import lahiruokashop from "@assets/lahiruoka-shop/desktop-and-mobile.png";
import sw14 from "@assets/sw-14/applications-desktop-and-mobile.png";
---

<PortfolioLayout title="Portfolio">
  <div class="grid grid-cols-1 gap-6 sm:px-14 md:grid-cols-2 md:px-20">
    <div class="grid place-content-center md:order-last">
      <Image loading="eager" src={avatar} alt="Avatar of me" class="w-[300px] rounded-full" />
    </div>
    <div class="flex flex-col items-center gap-6 md:items-start">
      <h1 class="text-left text-3xl">
        Hi there! I'm Minna,<br class="hidden md:inline" />
        a UI/UX designer.
      </h1>
      <p class="max-w-md text-left text-xl">
        I'm passionate about creating fluent, user-centered experiences. I design visually consistent and intuitive
        interfaces that are both functional and enjoyable to use.
      </p>
      <!-- <a class="btn px-12" href="/en/contact">Let's chat!</a> -->
    </div>
  </div>
  <hr class="my-8 border-zinc-200 md:my-14" />
  <div class="sm:px-14 md:px-20">
    <h2 class="mb-4 text-3xl">Portfolio</h2>
    <p class="mb-8 md:mb-14">
      This portfolio showcases publicly shareable work; most of my professional projects cannot be displayed due to
      confidentiality.
    </p>
    <div class="mb-12 grid grid-cols-1 gap-6 md:mb-24 md:grid-cols-2">
      <Image loading="eager" src={sw14} alt="UI Redesign: Desktop and mobile examples" />
      <div class="flex flex-col gap-3">
        <h3 class="text-2xl">UI Redesign & Design Guidelines</h3>
        <p>
          I designed a new user interface for my current employer's main product based on requirements of the
          organization as well as basic UX principles, adapting them to the needs of industrial sector.
        </p>
        <a href="/en/portfolio/sw-14" class="text-xl hover:text-primary-dark">
          <span class="sr-only">Read more about the project UI Redesign & Design Guidelines</span>
          Read More
        </a>
      </div>
    </div>
    <div class="mb-12 grid grid-cols-1 gap-6 md:mb-24 md:grid-cols-2">
      <Image src={lahiruokashop} alt="Lähiruoka Shop: Desktop and mobile examples" />
      <div class="flex flex-col gap-3">
        <h3 class="text-2xl">A Digital Service for Buying Local Food</h3>
        <p>
          Personal project. A concept for ordering local food as an alternative to the Reko Facebook groups. Inspired by
          my interest in local food and my passion for using design to solve real-world problems.
        </p>
        <a href="/en/portfolio/lahiruoka-shop" class="text-xl hover:text-primary-dark">
          <span class="sr-only">Read more about the project A Digital Service for Buying Local Food</span>
          Read More
        </a>
      </div>
    </div>
    <div class="mb-12 grid grid-cols-1 gap-6 md:mb-24 md:grid-cols-2">
      <Image src={bigfootmenu} alt="Bigfoot in Space main menu" />
      <div class="flex flex-col gap-3">
        <h3 class="text-2xl">Game UI/UX Design</h3>
        <p>
          A school group project where I was responsible for creating UI assets, contributing to UI/UX planning, and
          conducting user testing. A style guide and a high-fidelity version of the main menu screen were also
          implemented.
        </p>
        <a href="/en/portfolio/bigfoot-in-space" class="text-xl hover:text-primary-dark">
          <span class="sr-only">Read more about the project Game UI/UX Design</span>
          Read More
        </a>
      </div>
    </div>
  </div>
</PortfolioLayout>
