---
import PortfolioLayout from "@layouts/portfolio-layout.astro";
import { Image } from "astro:assets";
import realpic from "@assets/realpic.jpg";
---

<PortfolioLayout title="Tietoa">
  <div class="flex flex-row gap-8">
    <Image
      src={realpic}
      alt="Minä"
      class="hidden aspect-[10/16] flex-shrink-0 self-start rounded-br-[64px] rounded-tl-[64px] object-cover md:w-2/5 lg:block lg:self-stretch"
      loading="eager"
    />
    <div>
      <h1 class="mb-4 text-3xl">Moi!</h1>
      <Image
        src={realpic}
        alt="Minä"
        class="float-left mb-4 me-6 aspect-[5/6] w-full object-cover sm:w-72 sm:rounded-br-[64px] sm:rounded-tl-[64px] md:mb-0 md:w-96 lg:hidden"
        loading="eager"
      />
      <p class="mb-4">
        Nimeni on Minna. Olen työskennellyt käyttöliittymäsuunnittelijana vuodesta 2017 lähtien. Minulla on
        tietojenkäsittelyn tradenomin tutkinto vuodelta 2017 sekä muotoilijan tutkinto pelisuunnittelusta vuodelta 2022.
        Molemmat tutkinnot ovat Kaakkois-Suomen ammattikorkeakoulusta (Xamk).
      </p>
      <p class="mb-4">
        Tavoitteeni on pitää aina käyttäjäkeskeinen lähestymistapa käyttöliittymäsuunnittelussa. Tämän vuoksi pidän
        testausta yhtenä tärkeimmistä — ja usein aliarvostetuista — suunnitteluprosessin vaiheista. UI/UX-suunnittelussa
        minua innostaa eniten psykologian ja teknologian ainutlaatuinen yhdistelmä sekä mahdollisuus ilmaista luovuutta
        suunnitteluratkaisuissa.
      </p>
      <p class="mb-4">
        Suurimpia vahvuuksiani ovat tarkkuus, vahva käyttäjäkeskeisyys ja omistautuminen työlleni. Kollegani ovat
        kuvailleet minua järjestelmälliseksi, itsenäiseksi ja erinomaiseksi tiimipelaajaksi. Olen saanut kiitosta myös
        kyvystäni oppia uusia taitoja nopeasti. Työskentelen sujuvasti Figmalla sekä Adobe Photoshop ja Illustrator
        -ohjelmilla. Teknologioita, joista minulla on vahvaa osaamista, ovat mm. HTML, CSS, Bootstrap ja Tailwind CSS.
        Lisäksi minulla on kokemusta Storybookista.
      </p>
      <p>
        Vapaa-ajallani nautin kokkaamisesta, puutarhan hoidosta, ulkoilusta, musiikin kuuntelusta sekä sarjakuvan
        piirtämisestä. Arvostan hyviä tarinoita, joten vietän aikaa myös sarjojen ja videopelien parissa.
      </p>
    </div>
  </div>
</PortfolioLayout>
